// imported and box sizing

@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// variables

$main-font: Helvetica, sans-serif;
$header-button-color: #4B4C51;
$header-button-hulk: #729F27;
$item-padding: 10px;
$sub-menu-button-color: #DFDFDF;
$sub-menu-border: 1px solid #BDBDBD;


// starting scss

.menu {
    @include outer-container(250px);
    font-family: $main-font;
    border: 2px solid darken($header-button-color, 20%);
}
.menu li {
    @include span-columns(12);
    padding: $item-padding;
}
// styling header button
i, h2 {
    float: left;
}
.total {
    float: right;
}
i, h2, h3, .total {
    padding: 5px 10px;
}
.top-item {
    color: white;
    background: $header-button-color;
    .total {
        border-radius: 5px;
        background: darken($header-button-color, 20%);
    }
}

// Styling header button hover and hulk

.top-item:hover {
    background: lighten($header-button-hulk, 5%);
    color: darken($header-button-hulk, 20%);
    .total {
        background: darken($header-button-hulk, 20%);
        color: white;
    }
}
.hulk {
    background: $header-button-hulk;
    color: darken($header-button-hulk, 15%);
    .total {
        background: darken($header-button-hulk, 15%);
    }
}

// Styling sub-menu

li.sub {
    padding: 0;
    display: none;
}
.sub-menu {
    list-style-type: decimal-leading-zero;
    list-style-position: inside
}
.sub-menu li {
    display:list-item;
    background: $sub-menu-button-color;
    border-bottom: $sub-menu-border;
    position: relative;

    .total {
        border: $sub-menu-border;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }
}
.sub-menu li:last-of-type {
    border-bottom: none;
}
