// imported and box sizing

@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// variables

$keyboard-color: #EAEAEA;
$button-color: white;
$text-box-color: white;
$font: HelveticaNeue, Helvetica, sans-serif;
$text-color: black;

// global styles

.keyboard {
    @include outer-container(980px);
    background: $keyboard-color;
    font-family: $font;
    color: $text-color;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
textarea {
    width: 100%;
    background: $text-box-color;
    border: none;
    border-radius: 5px;
    height: 200px;
    padding: 5px;
    font-size: 1em;
}
textarea:focus {
    outline: none;
}
button {
    background: $button-color;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 2px 0;
    padding: 10px;
    text-align: center;
}
button:focus {
    outline: none;
}
button:hover {
    background: darken($button-color, 2%);
    transform: translateY(1px);
}

// styling keys

.row-one, .row-two, .row-three, .row-four, .space {
    width: 100%;
}

.space button {
    width: 100%;
}


